.nav-container{
    border-radius: 5px;
    border-color: rgb(9, 147, 234);
    border-width: 4px;
    border-style: solid;
    width: 90%;
    margin: auto;
    box-shadow: 5px 5px 5px;
    

}

ul{
    list-style: none;
    display: flex;
    justify-content: right;

}
li {
    display: inline;
    margin-right: 30px;
    text-decoration: none;
    
}
.delete-button{
    background-color: red;
}
