@import url('https://fonts.googleapis.com/css2?family=Anton&family=Manrope:wght@300&family=Orbitron&family=Syne+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lobster&family=Manrope:wght@300&family=Orbitron&family=Syne+Mono&display=swap');

.header-intro{
    text-align: center;
} 

.header{
    font-family: 'Anton', sans-serif; 
    font-size: 60px;
    color: white;

    
    
}
span{
    font-size: 70px;
    color: rgb(246, 6, 6);
}
.signature{
    font-family: 'Lobster', cursive;
    
}
.signup-link{
    background-color: red;
    border-radius: 4px;
    width: 90px;
    height: 40px;
    color: white;
    font-size: 20px;
    margin-right: auto;
    
}
#item-one{
    background-image: url("https://i.imgur.com/yiPE7nD.jpg");
    width: 600px;
    height: 300px;
}