.container-holder{
    background-image: url('https://i.imgur.com/x9lrlWk.jpg');
    height: 600px;
    width: 800px;
    margin: auto;
    padding-top: 50px;
    margin-top: 100px;
}


.container{
    background-color: rgba(23, 120, 210, 0.5);
    width: 500px;
    height: 300px;
    margin: auto;
    margin-top: 100px;
    text-align: center;
    box-shadow: 4px 4px 4px;
}

.account-form{
    background-color: rgb(13, 194, 91);
    width: 400px;
    border-radius: 4px;
    box-shadow: 4px 4px 4px;
}

button{
    width: 100px;
    background-color: rgb(247, 9, 9);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: .5em;
    margin: 10px;
    box-shadow: 3px 3px 3px;

}

.user-info{
    margin-top: 30px;
}

@media (max-width: 500px) {
    .container-holder{
        width: 450px;
        height: 430px;
        margin: auto;
        margin-top: 30px;
        background-position: center;
    
    }
    .container{
        margin-top: 0;
        width: 300px;
        height: 250px;
        font-size: 10px;
        }
        .user-name{
            font-size: 25px;
        }
        .user-location{
            font-size: 20px;
        }

    
}

@media (min-width: 600px) {
    .container-holder{
        width: 550px;
        height: 500px;
        background-position: center;
    }
    .container{
        margin-top: 0;
        width: 300px;
        height: 250px;
        font-size: 13px;
        }
        .user-name{
            font-size: 35px;
        }
        .user-location{
            font-size: 27px;
        }
}
@media (min-width: 1000px) {
    .container-holder{
        width: 800px;
        height: 600px;
    }
    .container{
        margin-top: 0px;
        width: 500px;
        height: 300px;
        margin-top: 100px;
    }
}