.search{
    background-color: white;
    width: 500px;
    margin: auto;
    margin-top: 0;
    box-shadow: 5px 5px 5px white;
    overflow-y: scroll;

}

.gallery{
    background-color: black;
    margin: auto;
  
}
.search-container{
    margin: auto;
}